.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-bottom: 8px;
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  &:hover {
    background-color: var(--primary-hover);
  }
  gap: 8px;

  &.active-animation {
    animation-name: slideDown;
    animation-duration: 0.2s;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.flex-groupItem {
  display: flex;
  gap: 8px;
  flex: 1;
}

.todo-complete {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  svg:first-child {
    font-size: 1.4rem;
    path {
      color: var(--primary-color);
      font-weight: 100;
    }
  }
  svg:last-child {
    position: absolute;
    font-size: 0.8rem;

    transition: opacity 0.1s;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    path {
      color: var(--primary-color);
    }
  }

  svg:nth-child(2) {
    display: none;
  }

  &.active svg:first-child,
  &.active svg:last-child {
    display: none;
  }

  &.active svg:nth-child(2) {
    display: block;
    path {
      color: var(--primary-color);
    }
  }

  &:hover svg:last-child {
    opacity: 1;
  }
}

.todo-title {
  display: flex;
  flex: 1;
  padding: 14px 0;
  font-weight: 300;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;

  &.active {
    color: #626262;
    text-decoration: line-through;
    font-weight: 200;
  }

  .todo-input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    overflow: hidden;
    resize: none;
  }

  .title-content {
    font-weight: 400;
  }

  .todo-types {
    display: flex;
    gap: 4px;
    align-items: center;
    li {
      color: var(--primary-text-light);
      font-size: 0.8rem;
    }
  }
}

.important-icon {
  display: flex;
  cursor: pointer;
  svg {
    path {
      color: var(--primary-color);
    }
  }
}
