.wrapper {
  width: 20%;
  height: 100%;
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  background-color: var(--primary-background);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;

  h1 {
    font-size: 30px;
    font-weight: 700;
  }

  svg {
    font-size: 2rem;
    cursor: pointer;
  }
}

.nav-bar {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  color: black;
  border-left: 0 solid transparent;

  transition: border 0.2s ease-out;
  &:hover {
    background-color: var(--primary-hover);
  }

  &.active:hover,
  &.active {
    background-color: var(--primary-active);
    border-left: 5px solid var(--primary-color);
  }
  div {
    display: flex;
    gap: 12px;
    align-items: center;
  }
}

svg {
  font-size: 1.4rem;
}
