.wrapper {
  display: flex;
  padding-left: 8px;
  margin-bottom: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  overflow: hidden;

  label {
    margin-right: 8px;
    display: flex;
    align-items: center;
    svg {
      font-size: 1rem;
    }
  }

  input {
    width: 100%;
    padding: 4px 0;
    padding-right: 8px;
    border: none;
    outline: none;
    background-color: var(--primary-background);
    font-weight: 500;
  }
}
