.wrapper {
  flex: 1;
  margin: 0 12px;
  margin-top: 20px;
}

.header {
  margin-bottom: 30px;
}

.title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 4px;

  h1 {
    font-size: 1.6rem;
    font-weight: 700;
  }
  svg {
    font-size: 1.6rem;
  }
}

.add-todo {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  background-color: var(--primary-background-todo);
  border-radius: 4px;
  overflow: hidden;

  input {
    flex: 1;
    padding: 12px 0;
    padding-right: 8px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
  }

  svg {
    font-size: 1.4rem;
    margin: 0 12px;
    path {
      color: var(--primary-color);
    }
  }
}
